@model ForDemoPurposeOnly.Models.WatchDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WatchDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WatchName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WatchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WatchWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WatchWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WatchHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WatchHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WatchDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WatchDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WatchThickness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WatchThickness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caliber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caliber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chronograph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chronograph)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jewel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jewel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrapMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrapMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WatchId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
